.App {
  text-align: center;

  /* background-color: rgb(197, 246, 230); */
  font-weight: 700;
  width: 80%;
  margin: auto;
  border-radius: 10px;
}

button {
  background-color: yellow;
  margin: 20px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  text-height: 40px;
}

input {
  font-weight: 700;
  border-radius: 10px;
  margin: 20px;
}

option {
  font-weight: 700;
  margin: 20px;
}
